@import "~src/assets/styles/global-variables";

.one-product {
  padding: 50px 20px;

  .product-detail {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .img-wrapper {
      width: 45%;
      height: auto;
      margin-right: 5%;
      img {
        width: 100%;
        height: auto;
      }
    }

    .description-block {
      display: flex;
      flex-direction: column;
      width: 50%;
      h2 {
        font-size: 20px;
      }
      p {
        color: $text-color;
        font-size: 16px;
      }
    }
  }

  .reviews {
    width: 100%;
    display: flex;
    margin-top: 30px;

    .inside {
      width: 50%;
      margin-top: 60px;
      margin-bottom: 50px;
    }

    .show-reviews {
      .review {
        width: 80%;
        margin: 10px auto;
        border-bottom: 1px solid #d7d7d7;
        &-top {
          width: 50%;
          text-align: left;
          line-height: 14px;
          display: flex;
          h4 {
            display: block;
            width: 50%;
            font-size: 14px;
            font-weight: 600;
            margin: 0;
            letter-spacing: 0.5px;
          }
          .user-rating {
            width: 50%;
            .star {
              color: $rate-star-selected;
              font-size: 18px;
              display: inline-block;
            }
            .no-star{
              color: #6b6b6d;
              font-size: 18px;
            }
          }
        }
        &-text {
          margin: 20px auto;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
          color: #88888a;
        }
        .date {
          width: 100%;
          line-height: 14px;
          font-size: 11px;
          color: $text-color;
          margin-bottom: 10px;
        }
      }
    }

    .add-review {
      border-left: 1px solid #d7d7d7;
      text-align: center;

      h4 {
        width: 100%;
        display: block;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
      }
      .form {
        width: 80%;
        margin: 0 auto;

        .user-name {
          margin-right: 3%;
        }
        textarea {
          font-weight: 300;
          padding: 20px;
          background: #f7f8fa;
          height: 78px;
          resize: none;
          font-size: 14px;
          width: 100%;
          margin-top: 20px;
          margin-bottom: 20px;
          color: #7c7c7c;
          outline: none;
          border: none;
        }
        .rate {
          display: flex;
          width: 100%;
          justify-content: space-between;
          .rate-stars {
            width: 60%;
            text-align: left;
            line-height: 44px;
            height: 44px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            label {
              margin-right: 22px;
              cursor: pointer;
              font-size: 24px;
              position: relative;
              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
                &:checked + .star{
                  color: $rate-star-selected;
                }
              }
              .star {
                font-size: 24px;
                position: absolute;
                top: 0;
                left: 0;
                height: auto;
                width: 21px;
                color: #6b6b6d;
              }
              &:hover {
                input ~ .star {
                  color: $rate-star-selected;
                }
              }
              &:hover ~ label {
                .star {
                  color: $rate-star-selected;
                }
              }
              .star-yellow {
                color: $rate-star-selected;
              }
            }
          }
          button {
            width: auto;
            text-align: right;
            padding-right: 25px;
            padding-left: 20px;
            position: relative;
            line-height: 44px;
            height: 44px;
            font-size: 15px;
            cursor: pointer;
            background: #fff;
            color: #7c7c7c;
            border: none;
            font-family: "Open Sans";
            &:after {
              content: "";
              position: absolute;
              display: block;
              border-top: 1px solid #7c7c7c;
              border-left: 1px solid #7c7c7c;
              width: 10px;
              height: 10px;
              top: 17px;
              right: 10px;
              transform: rotate(135deg);
            }
            &:hover {
              color: $button-primary-color;
            }
            &:hover:after {
              border-top: 1px solid $button-primary-color;
              border-left: 1px solid $button-primary-color;
            }
          }
        }
      }
    }
  }
  .no-review-form {
    .show-reviews {
      width: 100%;
    }
    .add-review {
      display: none;
    }
  }
  @media (max-width: 770px) {
    .reviews {
      flex-direction: column;
      .inside {
        width: 100%;
        display: flex;
      }
      .show-reviews {
        order: 2;
        flex-direction: column;
        .review {
          width: 100%;
          margin: 10px 0;
        }
      }
      .add-review {
        order: 1;
        border: none;
        flex-direction: column;

        .form {
          margin: 0;
          width: 100%;
          textarea {
            font-size: 11px;
          }
          .rate {
            .rate-stars {
              label {
                .star {
                  font-size: 19px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 333px) {
    .reviews {
      .show-reviews {
        .review {
          .review-top {
            .user-rating {
              width: 60%;
            }
          }
        }
      }
    }
  }
}
