/* main colours */
$header-dark: rgba(0,70,154,1);
$header-light: rgba(174,229,238,1);
$button-primary-color: #19226a;
$button-border-color: #acacac;
$text-color: #626262;
$rate-star-selected: #ffbe14;
